*{margin: 0;
padding:0;
box-sizing: border-box;}

body{font-family: sans-serif;}

.container{max-width: 90%;

margin: auto;
height:100vh;
padding-top: 30px;}
/* -------nav----------- */
nav{background-color:white;
display: flex;
justify-content: space-between;
padding:14px 0;
align-items: center;}

.fa-magnifying-glass{font-size: 24px;}

.nav-links ul{display: flex;
gap:60px;}
ul a{font-size: 16px;
color:#171717;
text-decoration: none;
font-weight: 600;}
ul li{list-style: none;}
.fa-bars{font-size: 30px;
display: none;}

.logo-p{font-size: 24px;
color:#254d4d;}

/* --------home-------- */
.home{}
.row{display: flex;

flex-wrap: wrap;
margin-top: 40px;}

.home .row .col-1{flex-basis: 40%;
    
}

.home .row .col-2{flex-basis: 60%;
    
}

.home .row .col-2 img{width:100%;}

.home .row .col-1 h1{font-size: 64px;
color:#254d4d;
padding-top: 80px;

}

.home .row .col-1 p{font-size: 19px;
color:#737373;
padding-top: 20px;

}

/* --------deals------------- */
.deals .row{display: flex;
    padding:80px 16px;
  
}
.deals .row .col h2{font-size:40px;
color:#254d4d;}

.deals .row .col{flex-basis: 25%;
width: 100%;}

.deals .row .col p{font-size: 16px;
color:#737373;}

.deals .row .col .col-2 h4{font-size: 19px;
color:#171717;
margin:10px 0;}

.deals .row .col .col-2{width: 100%;}

.deals .row .col .col-2 p{font-size: 16px;
color:#737373;}

#deal-icon{font-size: 30px;}

/* ---------about-section------------ */
.about .row{display: flex;}
.about .row .col-1 h2{font-size: 40px;
color: #254d4d;
padding-bottom: 20px;}

.about .row .col .col-1 p{font-size: 17px;
color: #737373;
}

.about .row .col-1{flex-basis: 70%;}

.about .row .col-2{flex-basis: 30%;}

